/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.//.DS_Store
.//resources/.DS_Store
.//resources/views/.DS_Store
.//node_modules/.DS_Store
.//node_modules/jackspeak/.DS_Store
.//node_modules/wrap-ansi-cjs/.DS_Store
.//node_modules/foreground-child/.DS_Store
.//node_modules/vite/.DS_Store
.//node_modules/minimatch/.DS_Store
.//node_modules/postcss-selector-parser/.DS_Store
.//node_modules/rollup/.DS_Store
.//node_modules/cliui/.DS_Store
.//node_modules/package-json-from-dist/.DS_Store
.//node_modules/yaml/.DS_Store
.//node_modules/yargs/.DS_Store
.//node_modules/rxjs/.DS_Store
.//node_modules/glob/.DS_Store
.//node_modules/minipass/.DS_Store
.//node_modules/alpinejs/.DS_Store
.//node_modules/fast-glob/.DS_Store
.//node_modules/tailwindcss/.DS_Store
.//node_modules/caniuse-lite/.DS_Store
.//node_modules/axios/.DS_Store
.//node_modules/string-width-cjs/.DS_Store
.//node_modules/path-scurry/.DS_Store
.//storage/.DS_Store
.//public/.DS_Store
.//public/assets/.DS_Store
.//admin-assets/.DS_Store
.//admin-assets/login/.DS_Store
.//vendor/rmccue/.DS_Store
.//vendor/hamcrest/.DS_Store
.//vendor/.DS_Store
.//vendor/nikic/.DS_Store
.//vendor/guzzlehttp/.DS_Store
.//vendor/nunomaduro/.DS_Store
.//vendor/mockery/.DS_Store
.//vendor/psy/.DS_Store
.//vendor/league/.DS_Store
.//vendor/nesbot/.DS_Store
.//vendor/doctrine/.DS_Store
.//vendor/phpunit/.DS_Store
.//vendor/phar-io/.DS_Store
.//vendor/psr/.DS_Store
.//vendor/razorpay/.DS_Store
.//vendor/symfony/.DS_Store
.//vendor/symfony/var-dumper/.DS_Store
.//vendor/laravel/.DS_Store